<% include partials/header1 %>


 <br><br><br><br>
			<div class="col-md-12 jumbotron container">
						<center><h1 class="card-title"><%=medical.name%></h1></center>
			
					<img style="width: 100%" src="<%=medical.image%>">
					<div class="caption ">
						<div class="col-md-6">
							<strong>ADDRESS: </strong><h5 class="card-title"><%=medical.address%></h5>
							<strong>CONTACT NO: </strong><h5 class="card-title"><%=medical.contact%></h5>
						        <% if(currentUser){ %>
									<form method="GET" action="/medicals/edit/<%= medical._id %>">
										<button class="btn btn-primary">Edit</button>
									</form>
          						<%  } %>

						</div>
						<div class="col-md-6">
							<strong>CITY: </strong><h5 class="card-title"><%=medical.city%></h5>
							<strong>EMAIL: </strong><h5 class="card-title"><%=medical.email%></h5>
						        <% if(currentUser){ %>
									<form method="POST" action="/medicals/<%=medical._id%>?_method=DELETE">
										<button class="btn btn-danger">Delete</button>
									</form>
          						<%  } %>

						</div>						
					</div>
			</div>
<br>






<% include partials/footer1 %>


